*, body {
	margin: 0;
	padding: 0;
	font-family: "Tahoma", "Trebuchet MS", "Arial", "Helvetica";
	font-size: 15px;
}

#filter {
	padding: 5px;
	width: 250px;
	height: 30px;
}

#add, #enlarge, #clipboard, #import {
	margin: 2px 0 0 2px;
	width: 28px;
	height: 28px;
	opacity: 0.7;
}

#add:hover, #enlarge:hover, #clipboard:hover, #import:hover {
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.5;
}

.container {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas:
		'title'
		'control'
		'notes';
}

.title {
	grid-area: title;
	padding: 15px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.control {
	grid-area: control;
	padding: 10px;
	background-color: #D2691E;
	text-align: center;
	display: grid;
	grid-template-areas: 'filter button';
	align-items: center;
}

.filterdiv {
	grid-area: filter;
	justify-self: end;
	align-self: center;
}

.buttondiv {
	grid-area: button;
	justify-self: start;
	align-self: center;
}

.notesdiv {
	grid-area: notes;
	justify-self: center;
	padding: 10px;
}

.note {
	float: left;
	margin: 10px;
	border: 1px solid #AAAAAA;
	background-color: #FFDEAD;
	display: inline-block;
}

.noteupper {
	display: grid;
	grid-template-areas: 'ntitle nbutton';
}

.notetitle {
	grid-area: ntitle;
	border: 0;
	background-color: #FFDEAD;
	width: 220px;
	height: 30px;
	padding: 5px;
}

.notebutton {
	grid-area: nbutton;
	margin: 5px;
	width: 20px;
	height: 20px;
	opacity: 0.5;
}

.notecontent {
	resize: vertical;
	padding: 5px;
	border: 1px solid #AAAAAA;
	background-color: #FFDEAD;
	width: 250px;
	font-family: "Tahoma", "Trebuchet MS", "Arial", "Helvetica";
}

#importdiv {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: 10px;
	border: 1px solid #000000;
	background-color: #FFDEAD;
	padding: 10px;
	display: grid;
	visibility: hidden;
}

.importcontentdiv, .importbuttondiv {
	padding: 10px;
	justify-self: center;
	align-self: center;
}

#importcontent {
	padding: 5px;
	width: 80vw;
	height: 60vh;
	font-family: "Consolas", "Roboto Mono", "Courier New", "Courier";
}

#importbutton, #importcancel {
	padding: 5px;
	border: 1px solid #92290E;
	background-color: #D2691E;
}

#importbutton:hover, #importcancel:hover {
	background-color: #E2792E;
	cursor: pointer;
}
